.syntax--keyword.syntax--c {
  color: @blue;
}

.syntax--storage {
  &.syntax--type.syntax--c {
    color: @blue;
  }
}

.syntax--string.syntax--c {
  color: @green;
}

.syntax--preprocessor.syntax--c,
.syntax--preprocessor .syntax--keyword.syntax--c,
.syntax--preprocessor .syntax--string.syntax--c {
  color: @yellow;
}

.syntax--numeric.syntax--c {
  color: @red;
}

.syntax--cpp .syntax--comment {
  color: @purple;
}
