.syntax--comment.syntax--js {
  color: @purple;
}

.syntax--keyword {
  &.syntax--control.syntax--js {
    color: @blue;
  }

  &.syntax--operator.syntax--js {
    color: @yellow;
  }

  &.syntax--new.syntax--js {
    color: @blue;
  }
}

.syntax--numeric.syntax--js {
  color: @red;
}

.syntax--boolean.syntax--js, .syntax--storage.syntax--js,
.syntax--variable.syntax--language.syntax--js {
  color: @blue;
}

.syntax--string.syntax--js {
  color: @green;
}

.syntax--regexp.syntax--js, .syntax--regexp .syntax--punctuation.syntax--js,
.syntax--brace.syntax--js, .syntax--scope.syntax--begin.syntax--js,
.syntax--scope.syntax--end.syntax--js,
.syntax--parameters.syntax--begin.syntax--js,
.syntax--parameters.syntax--end.syntax--js,
.syntax--arguments.syntax--begin.syntax--js,
.syntax--arguments.syntax--end.syntax--js {
  color: @yellow;
}
