.comment.js {
  color: @purple;
}

.storage.js {
  color: @blue;
}

.keyword {
  &.control.js {
    color: @blue;
  }

  &.operator.js {
    color: @yellow;
  }

  &.new.js {
    color: @blue;
  }
}

.numeric.js {
  color: @red;
}

.boolean.js {
  color: @blue;
}

.string.js {
  color: @green;
}

.regexp.js, .regexp .punctuation.js {
  color: @yellow;
}
