.syntax--sql:not(.syntax--php) {
  .syntax--comment.syntax--sql, .syntax--comment {
    color: @purple;
  }

  .syntax--keyword {
    &.syntax--other.syntax--sql {
      color: @blue;
    }

    &.syntax--operator {
      color: @syntax-text-color;
    }
  }

  .syntax--string.syntax--sql {
    color: @green;
  }

  .syntax--numeric.syntax--sql {
    color: @red;
  }
}
